$borderRadius: 1em;
$shadow: 0px 2px 5px rgba(40, 40, 40, 0.5);
$coinShadow: 0px 4px 15px rgba(40, 40, 40, 0.5);
$purple:#947FEE;
$pink:#FA4A8C;

page-home {
  // background-color: #3D486B;
}

.main-bg {
  background-color: #3D486B;
}

ion-col {
  // border: 1px solid red;
}

.wallet-header {

  font-weight: 300;
  font-size: 0.8em;

  height: 30%;
  position: relative;

  .fab-button {
    z-index: 3;
    background-color: white;
    border-radius: 50%;
    width: 4*$borderRadius;
    height: 4*$borderRadius;
    position: absolute;
    right: 3*$borderRadius;
    bottom: 0px;
    box-shadow: $shadow;
  }

  .content {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: calc(100% - #{2*$borderRadius});
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background: linear-gradient(to right, $purple, $pink);
    box-shadow: $shadow;

    .white-gradient{
      height: 100%;
      color: white;
      background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.6));

      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }

    .col-center {
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }

    .center {
      margin:auto;
      text-align: center;
    }

    .relative {
      position: relative;
      // border: 1px solid red;
    }

    .circles-left {
      content: '';
      position: absolute;
      bottom: 2em;
      right: 0em;
      border-radius: 50%;
      background-color: white;
      height: 0.4em;
      width: 0.4em;

      &:before {
        content: '';
        position: absolute;
        bottom: 0em;
        right: 3em;
        border-radius: 50%;
        background-color: white;
        height: 0.5em;
        width: 0.5em;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0.8em;
        right: 1.6em;
        border-radius: 50%;
        background-color: white;
        height: 0.8em;
        width: 0.8em;
      }
    }

    .circles-right {
      content: '';
      position: absolute;
      bottom: 2em;
      left: 0em;
      border-radius: 50%;
      background-color: white;
      height: 0.3em;
      width: 0.3em;

      &:before {
        content: '';
        position: absolute;
        bottom: 0.6em;
        left: 3em;
        border-radius: 50%;
        background-color: white;
        height: 0.5em;
        width: 0.5em;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0.8em;
        left: 1.3em;
        border-radius: 50%;
        background-color: white;
        height: 0.6em;
        width: 0.6em;
      }
    }

    .overall {
      font-size: 1.5em;
      .number {
        font-size: 2em;
      }
    }

    .delta {
      font-size: 1.2em;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 2*$borderRadius;
    z-index: 0;
    height: 100%;
    width: calc(100% - #{4*$borderRadius});
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background: linear-gradient(to right, $purple, $pink);
    opacity: 0.2;

    box-shadow: $shadow;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: $borderRadius;
    z-index: 1;
    height: calc(100% - #{$borderRadius});
    width: calc(100% - #{2*$borderRadius});
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    background: linear-gradient(to right, $purple, $pink);
    opacity: 0.4;

    box-shadow: $shadow;
  }

}

.wallet-body {
  color: white;
  font-weight: 300;

  .coin-list {

    // max-height: 300px;
    // overflow-y: scroll;

    .coin {
      font-size: 0.8em;
      margin: 10px;
      padding: 7px 0px;
      border-radius: $borderRadius;
      background: linear-gradient(to right, rgba(255,255,255, 0.15), transparent);
      box-shadow: $coinShadow;

      .title {
        font-size: 1em;
        font-weight: 400;
      }

      div {
        display: inline-block;
      }

      .icon {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        filter: contrast(82%);

        border-radius: $borderRadius;
        height: 40px;
        width: 40px;
        background: linear-gradient(to right, grey, darkgrey);

        .cc {
          font-size: 1.5em;
        }

        &.btc {
          background: linear-gradient(to right, $purple, $pink);
        }

        &.xrp {
          background: linear-gradient(to right, cyan, blue);
        }

        &.eth {
          background: linear-gradient(to right, orange, $pink);
        }

        &.ltc {
          background: linear-gradient(to right, grey, lightblue);
        }

        &.etc {
          background: linear-gradient(to right, lightgreen, grey);
        }
      }
    }

  }
}

.minimal-btn {
  // color: rgba(110,180,255, 0.8);
  font-weight: 600;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $purple), color-stop(0.6, $pink), color-stop(1, $pink));
  color:rgba(255,255,255,  0.3);
  -webkit-background-clip: text;
  background-clip: text;
}

.title {
  font-size:1.7em;
  margin-bottom:5px;
  font-weight: 300;
}

.subtitle {
  font-weight: 300;
  color: rgba(200, 200, 200, 0.6);
}

.right {
  text-align: right !important;
}
